@charset "UTF-8";
.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container [class*="col-"] {
    float: left; }
  .container .row {
    margin-bottom: 10px; }
    .container .row:before, .container .row:after {
      content: "";
      min-height: 1px;
      clear: both;
      display: block; }
    .container .row .col-1 {
      width: 8.33333%; }
    .container .row .col-2 {
      width: 16.66667%; }
    .container .row .col-3 {
      width: 25%; }
    .container .row .col-4 {
      width: 33.33333%; }
    .container .row .col-5 {
      width: 41.66667%; }
    .container .row .col-6 {
      width: 50%; }
    .container .row .col-7 {
      width: 58.33333%; }
    .container .row .col-8 {
      width: 66.66667%; }
    .container .row .col-9 {
      width: 75%; }
    .container .row .col-10 {
      width: 83.33333%; }
    .container .row .col-11 {
      width: 91.66667%; }
    .container .row .col-12 {
      width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

section {
  padding: 100px 0; }

.position {
  color: #00c7fc;
  border-bottom: 3px solid #00c7fc; }

.container {
  width: 1070px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#navigation {
  width: 100vw;
  position: fixed;
  color: #FFF;
  z-index: 100000; }
  #navigation .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(211, 211, 211, 0.6); }
    #navigation .container .header-logo {
      flex-grow: 1; }
      #navigation .container .header-logo span {
        display: none; }
    #navigation .container nav {
      position: relative;
      height: 100%; }
      #navigation .container nav .menu {
        text-align: center;
        list-style-type: none;
        height: 100%; }
        #navigation .container nav .menu li {
          display: inline-block;
          margin: auto 10px;
          height: 100%;
          padding-top: 8.5%; }
          #navigation .container nav .menu li a {
            text-decoration: none;
            color: #fff; }

#home {
  height: 860px;
  width: 100%;
  padding: 0;
  position: relative; }
  #home .home-slide-left {
    position: absolute;
    top: calc(50% - 50px);
    left: 25px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    z-index: 2; }
    #home .home-slide-left a {
      display: block;
      margin: 10px auto;
      width: 75%;
      height: 75%; }
      #home .home-slide-left a .arrow-left {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 35px;
        left: 40px;
        border: 5px solid white;
        border-bottom: none;
        border-left: none;
        z-index: 3;
        transform: rotate(-135deg);
        transition: all 1s; }
        #home .home-slide-left a .arrow-left:hover {
          transform: rotate(-135deg) scale(1.2); }
  #home .home-slide-right {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(100% - 125px);
    width: 100px;
    height: 100px;
    border: 2px solid white;
    z-index: 2; }
    #home .home-slide-right a {
      display: block;
      margin: 10px auto;
      width: 75%;
      height: 75%; }
      #home .home-slide-right a .arrow-right {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 35px;
        left: 25px;
        border: 5px solid white;
        border-bottom: none;
        border-left: none;
        z-index: 3;
        transform: rotate(45deg);
        transition: all 1s; }
        #home .home-slide-right a .arrow-right:hover {
          transform: rotate(45deg) scale(1.2); }
  #home .home-sliders {
    height: 100%;
    width: 100%; }
    #home .home-sliders .home-slide {
      position: relative;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover; }
      #home .home-sliders .home-slide .home-slide-info {
        color: #FFF;
        position: absolute;
        top: 25%;
        padding: 60px 50px 80px 20%;
        background-color: rgba(0, 199, 252, 0.7);
        width: 1055px;
        height: 335px; }

#service {
  height: 740px; }
  #service .container {
    color: black; }
    #service .container .service-title {
      height: 135px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      #service .container .service-title h2 {
        margin-bottom: 30px; }
    #service .container .service-body {
      height: 160px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      #service .container .service-body .row {
        margin-right: -15px;
        margin-left: -15px; }
      #service .container .service-body .service-body-link {
        margin-top: 50px; }
      #service .container .service-body .service-info {
        width: 330px;
        padding-bottom: 50px;
        padding-left: 20px; }
        #service .container .service-body .service-info a {
          float: left;
          margin-right: 50px; }
        #service .container .service-body .service-info h3 {
          color: #00C7FC; }

#service-bottom {
  position: relative;
  height: 498px;
  background-image: url("../img/slider-bg.jpg"); }
  #service-bottom .container .mobile {
    position: relative; }
    #service-bottom .container .mobile .black {
      position: absolute;
      left: 20%;
      top: 5%;
      z-index: 5; }
    #service-bottom .container .mobile .white {
      position: absolute;
      left: 40%;
      z-index: 4;
      top: 62px; }
  #service-bottom .container .service-feature {
    background-color: #0f748f;
    color: #fff;
    position: absolute;
    top: 18%;
    right: 0;
    height: 335px;
    padding: 50px 0 50px 65px;
    width: 45%; }
    #service-bottom .container .service-feature h3 {
      margin-bottom: 60px; }
    #service-bottom .container .service-feature ul {
      list-style-type: none; }
      #service-bottom .container .service-feature ul li {
        padding-left: 50px;
        line-height: 25px; }

#portfolio {
  min-height: 1px; }
  #portfolio .title {
    margin: 0 auto 85px;
    width: 420px;
    text-align: center; }
  #portfolio .projects-nav {
    width: 100%;
    margin-bottom: 40px; }
    #portfolio .projects-nav .list-nav {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #portfolio .projects-nav .list-nav li {
        list-style-type: none;
        margin: 20px 10px; }
        #portfolio .projects-nav .list-nav li a {
          display: inline-block;
          color: #000;
          text-decoration: none; }
  #portfolio .projects {
    width: 100%; }
    #portfolio .projects .projects-item {
      margin: 2px 4px;
      text-align: center;
      position: relative;
      float: left;
      width: 24%; }
      #portfolio .projects .projects-item img {
        width: 100%;
        height: 100%; }
      #portfolio .projects .projects-item .item-zoom {
        position: absolute;
        visibility: hidden;
        top: 33%;
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        background-color: rgba(0, 199, 252, 0.8);
        border-radius: 50%; }
        #portfolio .projects .projects-item .item-zoom:after {
          position: absolute;
          width: 50px;
          height: 50px;
          z-index: 99999999; }
        #portfolio .projects .projects-item .item-zoom:before {
          border: 4px solid white; }
      #portfolio .projects .projects-item .item-info {
        font-family: 'Open Sans';
        visibility: hidden;
        color: #1f2021;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;
        background-color: white; }
        #portfolio .projects .projects-item .item-info span {
          color: rgba(0, 199, 252, 0.8); }

#about {
  padding-bottom: 0; }
  #about .about-wrap .about-title {
    text-align: center;
    margin-bottom: 60px; }
  #about .about-wrap .about-image {
    text-align: center;
    margin-bottom: -12px; }
    #about .about-wrap .about-image .img {
      display: block; }

#numbers {
  color: white;
  background-color: #1f2021;
  padding-bottom: 90px; }
  #numbers .numbers-show {
    flex-direction: row; }
    #numbers .numbers-show .number-show-content {
      background-color: #096c89;
      padding: 25px 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #numbers .numbers-show .number-show-content .numbers-icon {
        margin: 20px;
        width: 50px;
        height: 60px;
        position: relative;
        background-color: #1f2021;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        display: flex;
        justify-content: center;
        align-items: center; }
        #numbers .numbers-show .number-show-content .numbers-icon img {
          width: 25px;
          height: 25px; }
      #numbers .numbers-show .number-show-content span {
        display: block;
        font-size: 40px;
        line-height: 42px;
        font-weight: 700;
        margin: 28px 0 20px; }

#about-us .about-as-left .about-us-title {
  text-align: center; }
  #about-us .about-as-left .about-us-title h3 {
    color: #1f2021;
    font-size: 20px;
    /* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 400;
    line-height: 24px;
    /* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: center;
    width: 139px;
    height: 14px; }
  #about-us .about-as-left .about-us-title p {
    color: #a8a8a8;
    font-size: 13px;
    /* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 300;
    line-height: 25px;
    /* Przybliżenie (wynika z podstawienia czcionki) */
    text-align: center;
    width: 405px;
    height: 38px; }

#about-us .about-as-left .comments .comment-content .person-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: black; }

#about-us .about-as-left .comments .comment-content .opinion h4 {
  color: #1f2021;
  font-size: 13px;
  /* Przybliżenie (wynika z podstawienia czcionki) */
  font-weight: 300;
  line-height: 25px;
  /* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: left;
  width: 275px;
  height: 60px; }

#about-us .about-as-left .comments .comment-content .opinion span {
  color: #a8a8a8;
  font-size: 13px;
  /* Przybliżenie (wynika z podstawienia czcionki) */
  font-style: italic;
  line-height: 24px;
  /* Przybliżenie (wynika z podstawienia czcionki) */
  text-align: left;
  width: 78px;
  height: 12px; }

#about-us .about-us-right .skills .skill-progress-bar {
  margin: 5px 0 20px 0;
  width: 100%;
  background-color: lightgray;
  height: 25px; }

#about-us .about-us-right .skills .bar {
  position: relative;
  height: 25px;
  background-color: #00C7FC; }
  #about-us .about-us-right .skills .bar .bar-info {
    position: absolute;
    background-color: black;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    left: calc(100% - 16px);
    top: -25px; }
    #about-us .about-us-right .skills .bar .bar-info:after {
      content: "";
      border-top: 10px solid black;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      display: block;
      position: absolute;
      left: 33%;
      top: 75%; }

#quote {
  background-color: #1f2021;
  color: #fff;
  text-align: center; }
  #quote h2 {
    font-size: 26px; }
  #quote h3 {
    font-size: 15px;
    font-weight: 600; }

#pricing .pricing-title {
  text-align: center; }
  #pricing .pricing-title h2 {
    font-size: 30px;
    font-weight: 400; }
  #pricing .pricing-title p {
    margin: 0 auto;
    padding-bottom: 100px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    width: 500px; }

#pricing .price-content {
  color: #1f2021;
  padding-left: 20px;
  padding-right: 20px; }
  #pricing .price-content .price-content-price {
    border-bottom: 1px solid #00c7fc;
    border-top: 1px solid #00c7fc; }
    #pricing .price-content .price-content-price h2 {
      margin: 0;
      text-align: center;
      font-size: 60px;
      line-height: 89px;
      font-weight: 600;
      color: #1f2021; }
      #pricing .price-content .price-content-price h2 sub {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        color: #1f2021;
        line-height: 15px; }
      #pricing .price-content .price-content-price h2 sup {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #1f2021;
        line-height: 30px; }
    #pricing .price-content .price-content-price h3 {
      font-size: 16px;
      text-align: center; }
  #pricing .price-content .price-content-feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00c7fc;
    align-items: center; }
    #pricing .price-content .price-content-feature h4 {
      color: #1f2021;
      display: block;
      width: 140px;
      margin: 0;
      padding: 15px 0;
      border-bottom: 1px solid #00c7fc; }
    #pricing .price-content .price-content-feature h4:last-child {
      border: none; }
  #pricing .price-content .price-content-button {
    margin-top: 40px; }
    #pricing .price-content .price-content-button .button {
      margin: 0 auto;
      text-align: center; }
      #pricing .price-content .price-content-button .button a {
        border: 1px solid #00c7fc;
        padding: 10px 15px;
        text-decoration: none;
        color: #1f2021; }

#pricing .pricing-contact {
  text-align: center;
  margin-top: 75px; }
  #pricing .pricing-contact h4 {
    padding-bottom: 25px; }
  #pricing .pricing-contact .pricing-contact-button a {
    background-color: #00c7fc;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: white; }

#subscribe {
  background-color: #1f2021; }
  #subscribe .subscribe-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    #subscribe .subscribe-content .subscribe-email {
      display: flex;
      flex-grow: 2;
      border: 1px solid white; }
      #subscribe .subscribe-content .subscribe-email img {
        margin-left: 20px; }
      #subscribe .subscribe-content .subscribe-email .subEmail {
        flex-grow: 2;
        background-color: #1f2021;
        color: white;
        border: none;
        margin-left: 20px;
        padding: 20px 0; }
        #subscribe .subscribe-content .subscribe-email .subEmail:focus {
          outline: none; }
      #subscribe .subscribe-content .subscribe-email .submitSubscribe {
        background-color: #00c7fc;
        border: none;
        width: 150px;
        color: #fff; }
    #subscribe .subscribe-content h5 {
      margin-left: 30px;
      width: 400px;
      color: #fff;
      line-height: 22px; }

#contact-us .contact-us-title {
  text-align: center; }
  #contact-us .contact-us-title h2 {
    font-size: 30px;
    font-weight: 400; }
  #contact-us .contact-us-title p {
    margin: 0 auto;
    padding-bottom: 100px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    width: 500px; }

#contact-us .contact-us-content .contact-us-left .contact-us-form {
  display: flex;
  flex-direction: column; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form [placeholder] {
    font-weight: 600;
    font-size: 12px; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form span {
    display: none; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form input {
    border: 1px solid #dbdbdb;
    padding: 25px 15px;
    margin-bottom: 20px; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form .name {
    height: 40px; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form .email {
    height: 40px; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form .message[name=message] {
    border: 1px solid #dbdbdb;
    padding: 25px 15px;
    height: 160px;
    resize: none; }
  #contact-us .contact-us-content .contact-us-left .contact-us-form .send {
    width: 150px;
    padding: 20px;
    align-self: flex-end;
    margin-top: 30px;
    background-color: #00c7fc;
    color: white;
    border: none; }

#contact-us .contact-us-content .contact-us-right {
  height: 100%;
  padding-left: 20px; }
  #contact-us .contact-us-content .contact-us-right .phone {
    padding-top: 5px;
    margin-bottom: 75px;
    height: 45%; }
    #contact-us .contact-us-content .contact-us-right .phone h4 {
      font-size: 14px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 20px; }
    #contact-us .contact-us-content .contact-us-right .phone p {
      font-size: 12px;
      line-height: 10px; }
  #contact-us .contact-us-content .contact-us-right .address {
    padding-top: 5px; }
    #contact-us .contact-us-content .contact-us-right .address h4 {
      font-size: 14px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 20px; }
    #contact-us .contact-us-content .contact-us-right .address p {
      font-size: 12px;
      line-height: 10px; }

footer {
  background-color: #1f2021;
  padding: 100px 0; }
  footer .footer-content {
    margin: 0 auto;
    width: 200px;
    text-align: center; }
    footer .footer-content .social-media h2 {
      font-size: 15px;
      color: #fff; }
    footer .footer-content .social-media .links {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around; }
    footer .footer-content .copyright {
      margin-top: 50px;
      color: #fff; }
      footer .footer-content .copyright h2 {
        font-size: 12px; }
        footer .footer-content .copyright h2 span {
          color: #00c7fc; }
