.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container [class*="col-"] {
    float: left; }
  .container .row {
    margin-bottom: 10px; }
    .container .row:before, .container .row:after {
      content: "";
      min-height: 1px;
      clear: both;
      display: block; }
    .container .row .col-1 {
      width: 8.33333%; }
    .container .row .col-2 {
      width: 16.66667%; }
    .container .row .col-3 {
      width: 25%; }
    .container .row .col-4 {
      width: 33.33333%; }
    .container .row .col-5 {
      width: 41.66667%; }
    .container .row .col-6 {
      width: 50%; }
    .container .row .col-7 {
      width: 58.33333%; }
    .container .row .col-8 {
      width: 66.66667%; }
    .container .row .col-9 {
      width: 75%; }
    .container .row .col-10 {
      width: 83.33333%; }
    .container .row .col-11 {
      width: 91.66667%; }
    .container .row .col-12 {
      width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

section {
  padding: 100px 0; }

.container {
  width: 1070px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#navigation {
  width: 100vw;
  position: fixed;
  color: #FFF;
  z-index: 100000; }
  #navigation .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #navigation .container .header-logo span {
      display: none; }
    #navigation .container .menu {
      display: flex;
      list-style-type: none; }
      #navigation .container .menu li {
        margin: auto 10px; }

#home {
  height: 860px;
  background-image: url("/img/slider-bg.jpg"); }
  #home .home-sliders {
    height: 100%; }
    #home .home-sliders .home-slide {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover; }

#service {
  height: 740px; }
  #service .container {
    color: black; }
    #service .container .service-title {
      height: 135px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      #service .container .service-title h2 {
        margin-bottom: 30px; }
    #service .container .service-body {
      height: 160px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      #service .container .service-body .row {
        margin-right: -15px;
        margin-left: -15px; }
      #service .container .service-body .service-info {
        width: 330px;
        padding-bottom: 50px;
        padding-left: 20px;
        display: table-cell;
        vertical-align: top; }
        #service .container .service-body .service-info a {
          float: left;
          margin-right: 50px; }
        #service .container .service-body .service-info h3 {
          color: #00C7FC; }

#service-bottom {
  position: relative;
  height: 498px;
  background-image: url("../img/slider-bg.jpg"); }
  #service-bottom .container .mobile {
    position: relative; }
    #service-bottom .container .mobile .black {
      position: absolute;
      left: 10%;
      top: 5%;
      z-index: 5; }
    #service-bottom .container .mobile .white {
      position: absolute;
      left: 25%;
      z-index: 4;
      top: 62px; }
  #service-bottom .container .service-feature {
    background-color: #0f748f;
    color: #fff;
    position: absolute;
    top: 18%;
    right: 0;
    height: 335px;
    padding: 50px 0 50px 65px;
    width: 45%; }
    #service-bottom .container .service-feature h3 {
      margin-bottom: 60px; }
    #service-bottom .container .service-feature ul {
      list-style-type: none; }
      #service-bottom .container .service-feature ul li {
        padding-left: 50px;
        line-height: 25px; }

#portfolio {
  min-height: 1px; }
  #portfolio .title {
    margin: 0 auto 85px;
    width: 420px;
    text-align: center; }
  #portfolio .projects-nav {
    width: 100%;
    margin-bottom: 40px; }
    #portfolio .projects-nav .list-nav {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      #portfolio .projects-nav .list-nav li {
        list-style-type: none;
        margin: 20px 10px; }
        #portfolio .projects-nav .list-nav li a {
          display: inline-block;
          color: #000;
          text-decoration: none; }
  #portfolio .projects {
    width: 100%; }
    #portfolio .projects .projects-item {
      position: relative;
      float: left;
      overflow: hidden;
      width: 25%; }
      #portfolio .projects .projects-item img {
        vertical-align: middle; }
        #portfolio .projects .projects-item img .responsive {
          display: block;
          max-width: 100%;
          height: auto; }

#about {
  padding-bottom: 0; }
  #about .about-wrap .about-title {
    text-align: center;
    margin-bottom: 60px; }
  #about .about-wrap .about-image {
    text-align: center;
    margin-bottom: -12px; }
    #about .about-wrap .about-image .img {
      display: block; }

#numbers {
  color: white;
  background-color: #121116;
  padding-bottom: 90px; }
  #numbers .numbers-show {
    flex-direction: row; }
    #numbers .numbers-show .number-show-content {
      background-color: #096c89;
      padding: 25px 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #numbers .numbers-show .number-show-content .numbers-icon {
        margin: 20px;
        width: 50px;
        height: 30px;
        position: relative;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center; }
        #numbers .numbers-show .number-show-content .numbers-icon:before {
          position: absolute;
          top: -15px;
          content: "";
          width: 0;
          height: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 15px solid black; }
        #numbers .numbers-show .number-show-content .numbers-icon:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          top: 30px;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 15px solid black; }
        #numbers .numbers-show .number-show-content .numbers-icon img {
          width: 25px;
          height: 25px; }
      #numbers .numbers-show .number-show-content span {
        display: block;
        font-size: 40px;
        line-height: 42px;
        font-weight: 700;
        margin: 28px 0 20px; }

#about-us .about-us-right .skills .skill-progress-bar {
  margin: 5px 0 20px 0;
  width: 100%;
  background-color: lightgray;
  height: 25px; }

#about-us .about-us-right .skills .bar {
  position: relative;
  height: 25px;
  background-color: #00C7FC; }
  #about-us .about-us-right .skills .bar .bar-info {
    position: absolute;
    background-color: black;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    left: calc(100% - 16px);
    top: -25px; }
    #about-us .about-us-right .skills .bar .bar-info:after {
      content: "";
      border-top: 10px solid black;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      display: block;
      position: absolute;
      left: 33%;
      top: 75%; }
