@keyframes overIcon {
  0%{
    transform: scale(1);
    border-color:#7A3072
  }
  50%{
    transform: scale(1.0555);
    border-color:#AB42A0

  }
  100%{
    transform: scale(1);
    border-color:#7A3072

  }
}