@import "grid";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
section{
  padding: 100px 0;
}
.position{
  color: rgb(0, 199, 252);
  border-bottom: 3px solid rgb(0, 199, 252);;
}
.container{
  width:1070px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#navigation{
  width: 100vw;
  position: fixed;
  color:#FFF;
  z-index: 100000;
  .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(211,211,211, 0.6);
    .header-logo{
      flex-grow: 1;
      span{
        display: none;
      }
    }
    nav{
      position: relative;
      height: 100%;
      .menu{
        text-align: center;
        list-style-type: none;
        height: 100%;
        li{
          display: inline-block;
          margin: auto 10px;
          height: 100%;
          padding-top:8.5%;

        }
      }
    }
  }
}

#home{
  height: 860px;
  width: 100%;
  padding: 0;
  position: relative;
  .home-slide-left{
    position: absolute;
    top: calc(50% - 50px);
    left: 25px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    z-index: 2;
      a{
        display: block;
        margin: 10px auto;
        width: 75%;
        height: 75%;
        .arrow-left{
          position: absolute;
          height: 30px;
          width: 30px;
          top: 35px;
          left:40px;
          border: 5px solid white;
          border-bottom: none;
          border-left: none;
          z-index: 3;
          transform: rotate(-135deg);
          transition: all 1s;
          &:hover{
            transform: rotate(-135deg) scale(1.2);
          }
        }
      }


  }
  .home-slide-right{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(100% - 125px);
    width: 100px;
    height: 100px;
    border: 2px solid white;
    z-index: 2;
    a {
      display: block;
      margin: 10px auto;
      width: 75%;
      height: 75%;
      .arrow-right{
        position: absolute;
        height: 30px;
        width: 30px;
        top: 35px;
        left: 25px;
        border: 5px solid white;
        border-bottom: none;
        border-left: none;
        z-index: 3;
        transform: rotate(45deg);
        transition: all 1s;
        &:hover{
          transform: rotate(45deg) scale(1.2);
        }
      }
    }
  }
  .home-sliders{
      height: 100%;
      width: 100%;
    .home-slide{
      position: relative;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      .home-slide-info{
        color: #FFF;
        position: absolute;
        top:25%;
        padding: 60px 50px 80px 20%;
        background-color:  rgba(0, 199, 252, 0.7);
        width: 1055px;
        height: 335px;
      }
    }
  }
}

#service{
  height: 740px;
  .container{
    color: black;
    .service-title{
      height: 135px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h2{
        margin-bottom: 30px;
        &:after{

        }
        &:before{

        }
      }
      p{

      }
    }
    .service-body{
      height: 160px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .row{
        margin-right: -15px;
        margin-left: -15px;
      }
      .service-body-link{
        margin-top: 50px;
      }
      .service-info{
        width: 330px;
        padding-bottom: 50px;
        padding-left: 20px;
        a{
          float: left;
          margin-right: 50px;
        }
        h3{
          color:#00C7FC;
        }
      }
    }
  }
}
#service-bottom{
  position: relative;
  height: 498px;
  background-image: url("../img/slider-bg.jpg");
  .container {

    .mobile {
      position: relative;
      .black {
        position: absolute;
        left: 20%;
        top: 5%;
        z-index: 5;
      }
      .white {
        position: absolute;
        left: 40%;
        z-index: 4;
        top: 62px;
      }
    }
    .service-feature {
      background-color: #0f748f;
      color: #fff;
      position: absolute;
      top: 18%;
      right: 0;
      height: 335px;
      padding: 50px 0 50px 65px;
      width: 45%;
      h3 {
        margin-bottom: 60px;
      }
      ul {
        list-style-type: none;
        li {
          padding-left: 50px;
          line-height: 25px;
        }
      }
    }
  }
}

#portfolio{
  min-height: 1px;
  .title{
    margin: 0 auto 85px;
    width: 420px;
    text-align: center;
  }
  .projects-nav{
    width: 100%;
    margin-bottom: 40px;
    .list-nav{
      display: flex;
      flex-direction: row;
      justify-content: center;
      li{
        list-style-type: none;
        margin: 20px 10px;
        a{
          display: inline-block;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .projects{
    width: 100%;
    .projects-item{
      margin: 2px 4px;
      text-align: center;
      position: relative;
      float: left;
      width: 24%;
      img{
        width: 100%;
        height: 100%;
      }
      .item-zoom{
        position: absolute;
        top: 33%;
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
        background-color: rgba(0, 199, 252, 0.8);
        border-radius: 50%;
        &:after{
          position: absolute;
          width: 50px;
          height: 50px;
          z-index: 99999999;
        }
        &:before{
          border: 4px solid white;
        }
      }
      .item-info{
        color:black;
        position: absolute;
        bottom:0;
        width: 100%;
        padding: 10px 20px;
        background-color:  white;
        span{
          color:rgba(0, 199, 252, 0.8);
        }
      }
    }
  }
}
#about{
  padding-bottom:0;
  .about-wrap{
    .about-title{
      text-align: center;
      margin-bottom: 60px;
    }
    .about-image{
      text-align: center;
      margin-bottom: -12px;
      .img{

        display: block;

      }
    }
  }
}
#numbers{
  color:white;
  background-color: #1f2021;
  padding-bottom: 90px;
  .numbers-show{
    flex-direction: row;

    .number-show-content{
      background-color: #096c89;
      padding: 25px 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .numbers-icon{
        margin:20px;
        width: 50px;
        height: 50px;
        position:relative;
        background-color: #1f2021;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 25px;
          height: 25px;
        }
      }
      span{
        display: block;
        font-size: 40px;
        line-height: 42px;
        font-weight: 700;
        margin: 28px 0 20px;
      }
    }

  }
}
#about-us{
  .about-as-left{

    .about-us-title{
      text-align: center;
      h3{
        color:  #1f2021;
        font-size: 20px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 400;
        line-height: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
        width: 139px;
        height: 14px;
      }
      p{
        color:  #a8a8a8;
        font-size: 13px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 300;
        line-height: 25px;/* Przybliżenie (wynika z podstawienia czcionki) */
        text-align: center;
        width: 405px;
        height: 38px;
      }
    }
    .comments{
      .comment-content{

        .person-img{
          display: inline-block;
          width: 100px;
          height: 100px;
          background-color: black;
        }
        .opinion{
          h4{
            color:  #1f2021;
            font-size: 13px;/* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 300;
            line-height: 25px;/* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: left;
            width: 275px;
            height: 60px;
          }
          span{
            color:  #a8a8a8;
            font-size: 13px;/* Przybliżenie (wynika z podstawienia czcionki) */
            font-style: italic;
            line-height: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
            text-align: left;
            width: 78px;
            height: 12px;
          }

        }
      }
    }
  }
  .about-us-right{
    .about-as-skills{

    }
    .skills{
      .skill-progress-bar{
        margin:5px 0 20px 0;
        width: 100%;
        background-color: lightgray;
        height: 25px;
      }
      .bar{
        position: relative;
        height: 25px;
        background-color: #00C7FC;
        .bar-info{
          position: absolute;
          background-color: black;
          color:white;
          padding:2px 5px;
          font-size: 10px;
          left: calc(100% - 16px);
          top: -25px;

          &:after{
            content: "";
            border-top: 10px solid black;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            display: block;
            position: absolute;
            left: 33%;
            top: 75%;

          }
        }
      }
    }
  }

}