@import "grid";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
section{
  padding: 100px 0;
}
.container{
  width:1070px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#navigation{
  width: 100vw;
  position: fixed;
  color:#FFF;
  z-index: 100000;
  .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo{
      span{
        display: none;
      }
    }
    .menu{
      display: flex;
      list-style-type: none;
      li{
        margin: auto 10px;

      }
    }
  }
}

#home{
  height: 860px;
  background-image: url("/img/slider-bg.jpg");
  .home-sliders{
      height: 100%;
    .home-slide{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#service{
  height: 740px;
  .container{
    color: black;
    .service-title{
      height: 135px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      h2{
        margin-bottom: 30px;
        &:after{

        }
        &:before{

        }
      }
      p{

      }
    }
    .service-body{
      height: 160px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .row{
        margin-right: -15px;
        margin-left: -15px;
      }
      .service-info{
        width: 330px;
        padding-bottom: 50px;
        padding-left: 20px;
        display: table-cell;
        vertical-align: top;
        a{
          float: left;
          margin-right: 50px;
        }
        h3{
          color:#00C7FC;
        }
      }
    }
  }
}
#service-bottom{
  position: relative;
  height: 498px;
  background-image: url("../img/slider-bg.jpg");
  .container {

    .mobile {
      position: relative;
      .black {
        position: absolute;
        left: 10%;
        top: 5%;
        z-index: 5;
      }
      .white {
        position: absolute;
        left: 25%;
        z-index: 4;
        top: 62px;
      }
    }
    .service-feature {
      background-color: #0f748f;
      color: #fff;
      position: absolute;
      top: 18%;
      right: 0;
      height: 335px;
      padding: 50px 0 50px 65px;
      width: 45%;
      h3 {
        margin-bottom: 60px;
      }
      ul {
        list-style-type: none;
        li {
          padding-left: 50px;
          line-height: 25px;
        }
      }
    }
  }
}

#portfolio{
  min-height: 1px;
  .title{
    margin: 0 auto 85px;
    width: 420px;
    text-align: center;
  }
  .projects-nav{
    width: 100%;
    margin-bottom: 40px;
    .list-nav{
      display: flex;
      flex-direction: row;
      justify-content: center;
      li{
        list-style-type: none;
        margin: 20px 10px;
        a{
          display: inline-block;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .projects{
    width: 100%;
    .projects-item{
      position: relative;
      float: left;
      overflow: hidden;
      width: 25%;
      img{
       vertical-align: middle;
        .responsive{
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
#about{
  padding-bottom:0;
  .about-wrap{
    .about-title{
      text-align: center;
      margin-bottom: 60px;
    }
    .about-image{
      text-align: center;
      margin-bottom: -12px;
      .img{

        display: block;

      }
    }
  }
}
#numbers{
  color:white;
  background-color: #121116;
  padding-bottom: 90px;
  .numbers-show{
    flex-direction: row;

    .number-show-content{
      background-color: #096c89;
      padding: 25px 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .numbers-icon{
        margin:20px;
        width: 50px;
        height: 30px;
        position:relative;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before{
          position:absolute;
          top:-15px;
          content: "";
          width: 0;
          height: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 15px solid black;

        }
        &:after{
          position:absolute;
          content: "";
          width: 0;
          height: 0;
          top: 30px;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 15px solid black;
        }
        img{
          width: 25px;
          height: 25px;
        }
      }
      span{
        display: block;
        font-size: 40px;
        line-height: 42px;
        font-weight: 700;
        margin: 28px 0 20px;
      }
    }

  }
}
#about-us{
  .about-as-left{
    .about-us-title{

    }
    .comments{

    }
  }
  .about-us-right{
    .about-as-skills{

    }
    .skills{
      .skill-progress-bar{
        margin:5px 0 20px 0;
        width: 100%;
        background-color: lightgray;
        height: 25px;
      }
      .bar{
        position: relative;
        height: 25px;
        background-color: #00C7FC;
        .bar-info{
          position: absolute;
          background-color: black;
          color:white;
          padding:2px 5px;
          font-size: 10px;
          left: calc(100% - 16px);
          top: -25px;

          &:after{
            content: "";
            border-top: 10px solid black;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            display: block;
            position: absolute;
            left: 33%;
            top: 75%;

          }
        }
      }
    }
  }

}